
<!-- Header info -->
<%- include('./partials/_header', {title: 'The Serlings', active: 'HOME'}) %>

    <div class='bg pt container-fluid'>
        <!-- Display the countdown timer in an element -->
        <div class='pt-4'>
            
            <h2 id="timer" class='creep_green pl-4 timer'></h2>
            <div class='text-right pr-4' id='welcome' >
                <h2 class='text-white BilkFang' >"What the Light Brings"</h2>
                <h2 class='text-white blippo' >OUT NOW!</h2>
                <div class='pb-5'>
                    <a href='https://open.spotify.com/artist/5lQaNyh0QEPGxEMpixEnnk?si=Ums9pUNrSkCwwC17FP2iqQ'>
                        <i class="fab fa-spotify fa-5x"></i>
                    </a>
                    <a href='https://music.apple.com/us/artist/the-serlings/1437004735'>
                        <i class="fab fa-itunes fa-5x"></i>
                    </a>
                    <a href='https://www.youtube.com/watch?v=pYB6_oEiSCg&feature=youtu.be'>
                        <i class="fab fa-youtube fa-5x"></i>
                    </a>
                </div>
            </div>
        </div>
    </div>


    <!-- Main javascript -->
    <%- include('./partials/_footer') %>
