<!-- Header -->
<%- include('./partials/_header', {title: 'The Serlings - Shows', active: 'SHOWS'}) %>

<!-- Container (TOUR Section) -->
<div id="tour" class="">
    <div class="container content-div">
        <h2 class="text-center BilkFang">UPCOMING SHOWS</h2>
        <!-- <p class="text-center">Come see the greatest show on dirt. -->
            <!-- <br> Remember to book your tickets! -->
        </p>
        <!-- <ul class="list-group">
            <li class="list-group-item">September <span class="label label-danger">Sold Out!</span></li>
            <li class="list-group-item">October <span class="label label-danger">Sold Out!</span></li> 
            <li class="list-group-item">November <span class="badge">3</span></li> 
        </ul> -->
        <br>
        <%- include('./partials/_shows', {show: shows}) %>

        <br>
        <!-- <hr/> -->
        <div class='text-center'>
            <iframe src="https://www.bandsintown.com/artist/theserlings/track_button?size=large&display_tracker_count=false&text_color=%23FFFFFF&background_color=%2300B4B3&hover_color=%2300908f" height="32" width="90" scrolling="no" frameborder="0" style="border:none; overflow:hidden"; allowtransparency="true" ></iframe>
            <!-- <iframe class='text-center' src="https://www.bandsintown.com/artist/theserlings/track_button?size=large&display_tracker_count=false&text_color=%23FFFFFF&background_color=%2d2d30&hover_color=%2300908f" scrolling="no" frameborder="0" style="border:none; overflow:hidden"; allowtransparency="true" ></iframe> -->
        </div>
    </div>

    <!-- Modal -->
    <div class="modal fade" id="myModal" role="dialog">
        <div class="modal-dialog">
        
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">×</button>
                    <h4><span class="glyphicon glyphicon-lock"></span> Tickets</h4>
                </div>
                <div class="modal-body">
                    <form role="form">
                        <div class="form-group">
                            <label for="psw"><span class="glyphicon glyphicon-shopping-cart"></span> Tickets, $23 per person</label>
                            <input type="number" class="form-control" id="psw" placeholder="How many?">
                        </div>
                        <div class="form-group">
                            <label for="usrname"><span class="glyphicon glyphicon-user"></span> Send To</label>
                            <input type="text" class="form-control" id="usrname" placeholder="Enter email">
                        </div>
                        <button type="submit" class="btn btn-block">Pay 
                            <span class="glyphicon glyphicon-ok"></span>
                        </button>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-danger btn-default pull-left" data-dismiss="modal">
                        <span class="glyphicon glyphicon-remove"></span> Cancel
                    </button>
                    <p>Need <a href="#">help?</a></p>
                </div>
            </div>
        </div>
    </div>
</div>


    <!-- Main javascript -->
    <%- include('./partials/_footer') %>

