<!DOCTYPE>
<html lang="en">
<!-- Header info -->
<%- include('./partials/_head', {title: 'The Serlings - Shows'}) %>
<body id="myPage" class='bg-1' data-spy="scroll" data-target=".navbar" data-offset="50">
  <!-- Navigation bar -->
  <%- include('./partials/_nav', {active: 'SHOWS'}) %>


<!-- Container (TOUR Section) -->
<div id="tour" class="">
    <div class="container content-div">
        <h2 class="text-center">UPCOMING SHOWS</h2>
        <p class="text-center">Come see the greatest show on dirt.
            <!-- <br> Remember to book your tickets! -->
        </p>
        <!-- <ul class="list-group">
            <li class="list-group-item">September <span class="label label-danger">Sold Out!</span></li>
            <li class="list-group-item">October <span class="label label-danger">Sold Out!</span></li> 
            <li class="list-group-item">November <span class="badge">3</span></li> 
        </ul> -->
        <br>
        <div class="row text-center">
        <div class="col-sm-offset-1 col-sm-4 show-image br-25">
            <div class="thumbnail br-25">
            <img src="./images/mcl2018.jpg" alt="Paris" width="400" height="300">
            <p><strong>Mummy Cat Lounge</strong></p>
            <p><em>Friday 19 July 2018</em></p>
            <button class="btn">RSVP</button>
            <!-- <button class="btn" data-toggle="modal" data-target="#myModal">Buy Tickets</button> -->
            </div>
        </div>
        <div class="col-sm-offset-2 col-sm-4 show-image br-25">
            <div class="thumbnail br-25">
            <img src="./images/MikeFrightNight2.jpg" alt="New York" width="400" height="300">
            <p><b>Mummy Cat Lounge</b></p>
            <p><em>Friday 19 July 2018</em></p>
            <button class="btn">RSVP</button>
            <!-- <button class="btn" data-toggle="modal" data-target="#myModal">Buy Tickets</button> -->
            </div>
        </div>

        <!-- <div class="col-sm-4">
            <div class="thumbnail">
            <img src="sanfran.jpg" alt="San Francisco" width="400" height="300">
            <p><strong>San Francisco</strong></p>
            <p>Sunday 29 November 2015</p>
            <button class="btn" data-toggle="modal" data-target="#myModal">Buy Tickets</button>
            </div>
        </div> -->
        </div>
    </div>

    <!-- Modal -->
    <div class="modal fade" id="myModal" role="dialog">
        <div class="modal-dialog">
        
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">×</button>
                    <h4><span class="glyphicon glyphicon-lock"></span> Tickets</h4>
                </div>
                <div class="modal-body">
                    <form role="form">
                        <div class="form-group">
                            <label for="psw"><span class="glyphicon glyphicon-shopping-cart"></span> Tickets, $23 per person</label>
                            <input type="number" class="form-control" id="psw" placeholder="How many?">
                        </div>
                        <div class="form-group">
                            <label for="usrname"><span class="glyphicon glyphicon-user"></span> Send To</label>
                            <input type="text" class="form-control" id="usrname" placeholder="Enter email">
                        </div>
                        <button type="submit" class="btn btn-block">Pay 
                            <span class="glyphicon glyphicon-ok"></span>
                        </button>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-danger btn-default pull-left" data-dismiss="modal">
                        <span class="glyphicon glyphicon-remove"></span> Cancel
                    </button>
                    <p>Need <a href="#">help?</a></p>
                </div>
            </div>
        </div>
    </div>
</div>


    <!-- Main javascript -->
    <%- include('./partials/_script') %>


</body>
</html>
