<!-- HOME page -->

<!-- Header -->
<%- include('./partials/_header', {title: 'The Serlings - Shows', active: 'SHOWS'}) %>


<div class="container content-div">
    <h2 class="text-center BilkFang">UPCOMING SHOWS</h2>
    <br>
    <%- include('./partials/_shows', {show: shows}) %>

    <br>
    <div class='d-flex justify-content-center'>
        <iframe class='shadowy' src="https://www.bandsintown.com/artist/theserlings/track_button?size=large&display_tracker_count=false&text_color=%23FFFFFF&background_color=%2300B4B3&hover_color=%2300908f" height="32" width="90" scrolling="no" frameborder="0" style="border:none; overflow:hidden"; allowtransparency="true" ></iframe>
    </div>
</div>

<!-- Main javascript -->
<%- include('./partials/_footer') %>

